@inject WebPagePub.Services.Interfaces.ICacheService _cacheHelper
@using WebPagePub.Data.Enums;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"]</title>

  <partial name="_MetaTags" /> 
 
  <partial name="_FavIcons" /> 
@*
    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/ionicons.min.css">
        <link rel="stylesheet" href="~/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="~/font/font.css">
        <link rel="stylesheet" href="~/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/starratting.css" />
        <link rel="stylesheet" href="~/css/stacktable.css" />
        <link rel="stylesheet" href="~/css/lineratings.css" />
    </environment>*@
    <environment names="Development,Staging,Production">
       @Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.HeaderHtml))
    </environment>

    @RenderSection("StylesHeader", required: false)

    @RenderSection("ScriptsHeader", required: false)

</head>
<body>
    <div id="wrapper">
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default nav-header">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
               
                        @if (!string.IsNullOrEmpty(_cacheHelper.GetSnippet(SiteConfigSetting.LogoUrl)))
                        {
                            <a href="~/"><img class="logo" src="@_cacheHelper.GetSnippet(SiteConfigSetting.LogoUrl)"
                                 alt="@_cacheHelper.GetSnippet(SiteConfigSetting.WebsiteName)"
                                 title="@_cacheHelper.GetSnippet(SiteConfigSetting.WebsiteName)" /></a>
                        }
                        else
                        {
                        <a class="site-title" href="~/">@Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.WebsiteName))</a>
                        }
                
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    @Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.MenuHtml))

                </div><!--/.nav-collapse -->
            </div>

        </nav>
        <div class="clear"></div>

        <!-- section-2 -->
        <div class="container">
            @RenderBody()
        </div>

        <footer class="site-footer">
            @if (!string.IsNullOrEmpty(_cacheHelper.GetSnippet(SiteConfigSetting.InstagramUrl)))
            {
                <a href="@_cacheHelper.GetSnippet(SiteConfigSetting.InstagramUrl)" class="btn btn-ig"><i class="fa fa-instagram left"></i> Instagram</a>
            }
            @if (!string.IsNullOrEmpty(_cacheHelper.GetSnippet(SiteConfigSetting.FacebookUrl)))
            {
                <a href="@_cacheHelper.GetSnippet(SiteConfigSetting.FacebookUrl)" class="btn btn-fb"><i class="fa fa-facebook left"></i> Facebook</a>
            }
            @if (!string.IsNullOrEmpty(_cacheHelper.GetSnippet(SiteConfigSetting.YouTubeUrl)))
            {
                <a href="@_cacheHelper.GetSnippet(SiteConfigSetting.YouTubeUrl)" class="btn btn-youtube"><i class="fa fa-youtube left"></i> YouTube</a>
            }
            @if (!string.IsNullOrEmpty(_cacheHelper.GetSnippet(SiteConfigSetting.TwitterUrl)))
            {
                  <a href="@_cacheHelper.GetSnippet(SiteConfigSetting.TwitterUrl)" class="btn btn-twitter"><i class="fa fa-twitter left"></i> Twitter</a>
            }
          
            <div class="copyright">
                &copy; @DateTime.UtcNow.Year <a href="~/">@_cacheHelper.GetSnippet(SiteConfigSetting.WebsiteName)</a>
                | <a href="~/disclosure">Disclosure</a>
                | <a href="~/terms-of-service">Terms of Service</a>
                | <a href="~/privacy-policy">Privacy Policy</a>
                | <a href="~/contact">Contact</a>
                | <a href="~/sitemap">Sitemap</a>
            </div>

            <partial name="_LoginPartial" />
        </footer>
    </div>
    <!-- wrapper -->
    <!-- js -->
    @Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.GoogleAnalytics))

    @*    <environment names="Development">
        <script src="~/js/jquery-2.1.3.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/stacktable.js"></script>
    </environment>*@
    <environment names="Development,Staging,Production">
        @Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.FooterHtml))
    </environment>

    @RenderSection("ScriptsFooter", required: false)

</body>
</html>
