@model List<WebPagePub.Web.Models.SitePagePhotoModel>


@if (Model.Count > 0)
{
    
<div class="gallery">
    <div class="row">
        @foreach (var photo in Model)
        {
            <div class="col-md-12">
                <div class="thumbnail">

                    <a href="@photo.PhotoCdnUrl">
                        <img src="@photo.PhotoThumbUrl" class="img-fluid" title="@photo.Title" alt="@photo.Title" />
                    </a>
 
                    <div class="caption">
                        @if (!string.IsNullOrWhiteSpace(photo.Description))
                        {
                            @Html.Raw(photo.Description)
                        }
                        else
                        {
                            <br />
                        }
                    </div>
                </div>
            </div>

        }
    </div>

</div>
}