@model WebPagePub.Web.Models.RedirectPathListModel
 
 
@{
    ViewData["Title"] = "Redirect Paths";
}
 <h2>@ViewData["Title"]</h2>
 
<a class="btn btn-success"  href="~/RedirectPathManagement/create">Create new</a>
<hr />

@if (Model != null && Model.Items.Count() > 0)
{
<table class="table">
    <thead>
        <tr>
            <th>From</th>
             
            <th>Destination</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                @item.Path
            </td>
            <td>
                @item.PathDestination
            </td>


            <td>
                @using (Html.BeginForm("Delete", "RedirectPathManagement", FormMethod.Post,
                                       new { role = "form", onsubmit = string.Format(@"return confirm('Do you really want to delete this?');") }))
                {
                    <button type="submit" name="RedirectPathId" value="@item.RedirectPathId" class="btn-danger btn-sm"> &#x1F5D1;</button>


                }
            </td>
        </tr>
        }
    </tbody>
</table>
}
else
{
    <i>No content</i>
}
@*@{
    int pageCount = Model.PageCount;

    for (int pageNumber = 1; pageNumber <= pageCount; pageNumber++)
    {
        if (Model.CurrentPageNumber == pageNumber)
        {
            @pageNumber
        }
        else
        {
            <a href="@Url.Content("~/BlogManagement?pageNumber=" + pageNumber.ToString())">@pageNumber.ToString()</a>
        }
    }

}*@