@model WebPagePub.Web.Models.SitePageEditModel
@using WebPagePub.Data.Enums
@{
    ViewData["Title"] = "Edit Page: " + Model.Title;
}

<h2>@ViewData["Title"]</h2>

<a href="@Model.PreviewUrlPath">Preview</a> <span>|</span>
 
<a href="@Model.LiveUrlPath">Live</a>

<h4>@Model.Title</h4>
 
@Html.ValidationSummary()

<form asp-controller="SitePages" asp-action="EditSitePage" method="post" class="form-horizontal">
    <div class="form-group">
        <label asp-for="Title" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Title" class="form-control" autocomplete="off" data-limit-input="70" />
            <span>@Model.Title?.Length of 70 characters used</span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="PageHeader" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="PageHeader" class="form-control" autocomplete="off" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="BreadcrumbName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="BreadcrumbName" class="form-control" autocomplete="off" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Key" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="Key" class="form-control" autocomplete="off" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-2 control-label">Tags</label>
        <div class="col-md-10">
            <input asp-for="Tags" class="form-control" autocomplete="off" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="MetaDescription" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="MetaDescription" class="form-control" data-limit-input="160" autocomplete="off" />
            <span>@Model.MetaDescription?.Length of 160 characters used</span>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="MetaKeywords" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="MetaKeywords" class="form-control" />
        </div>
    </div>


    <div class="form-group">
        <label asp-for="AuthorId" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control" asp-for="AuthorId" asp-items="Model.Authors"></select>
        </div>
    </div>


    <div class="form-group">
        <label asp-for="PublishDateTimeUtc" class="col-md-2 control-label"></label>
        <div class="col-md-10">

            <input type="datetime" asp-for="@Model.PublishDateTimeUtc" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="IsLive" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.CheckBoxFor(x => x.IsLive)
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ExcludePageFromSiteMapXml" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.CheckBoxFor(x => x.ExcludePageFromSiteMapXml)
        </div>
    </div>

 
    <div class="form-group">
        <label asp-for="IsSectionHomePage" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.CheckBoxFor(x => x.IsSectionHomePage)
        </div>
    </div>
 

    <div class="form-group">
        <label asp-for="AllowsComments" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            @Html.CheckBoxFor(x => x.AllowsComments)
        </div>
    </div>


    <div class="form-group">
        <label asp-for="PageType" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <select class="form-control" asp-for="PageType" asp-items="Html.GetEnumSelectList<PageType>()"></select>
        </div>
    </div>

    <hr />
    <h4>Review</h4>
    <div class="form-group">
        <label asp-for="ReviewItemName" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ReviewItemName" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ReviewRatingValue" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ReviewRatingValue" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ReviewWorstValue" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ReviewWorstValue" class="form-control" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="ReviewBestValue" class="col-md-2 control-label"></label>
        <div class="col-md-10">
            <input asp-for="ReviewBestValue" class="form-control" />
        </div>
    </div>
    <hr />
    <div class="form-group">
        <label class="col-md-2 control-label">Photos</label>
        <a class="btn btn-info" href="~/sitepages/uploadphotos/@Model.SitePageId">Upload Photos</a>

        @if (Model.BlogPhotos.Count() > 0)
        {

            <div class="col-md-10">
                <table class="table  ">
                    <thead>
                        <tr>
                            <th>
                                URL
                            </th>
                            <th></th>
                            <th></th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var photo in Model.BlogPhotos)
                        {
                            <tr>
                                <td>
                                    <a href="@photo.PhotoThumbUrl">
                                        <img style="width:200px;" class="img-responsive" src="@photo.PhotoThumbUrl" />
                                    </a>
                                    <ul>
                                        <li>

                                            <a href="@photo.PhotoThumbUrl">Thumb</a> | <a href="@photo.PhotoThumbCdnUrl">CDN</a>
                                        </li>

                                        <li>

                                            <a href="@photo.PhotoPreviewUrl">Preview</a> | <a href="@photo.PhotoPreviewCdnUrl">CDN</a>
                                        </li>

                                        <li>
                                            <a href="@photo.PhotoFullScreenUrl">Full screen</a> | <a href="@photo.PhotoFullScreenCdnUrl">CDN</a>
                                        </li>
                                        <li>
                                            <a href="@photo.PhotoOriginalUrl">Original</a> | <a href="@photo.PhotoOriginalCdnUrl">CDN</a>
                                        </li>

                                    </ul>

                                    <a onclick="return confirm('Rotate 90 degrees right, are you sure?')"
                                       href="~/sitepages/rotate90degrees/@photo.SitePagePhotoId">Rotate 90 degrees right</a>

                                       <br />

                                    <a href="~/sitepages/rankphotoup/@photo.SitePagePhotoId">&#x2191;</a>

                                    <a href="~/sitepages/rankphotodown/@photo.SitePagePhotoId">&#x2193;</a>
                                    <br />

                                    <label class="col-md-2 control-label">Photo Title:</label>
                                    <div class="col-md-10">
                                        <input name="PhotoTitle_@photo.SitePagePhotoId" value="@photo.Title" class="form-control" />
                                    </div>


                                    <label class="col-md-2 control-label">File Name:</label>
                                    <div class="col-md-10">
                                    <input name="PhotoFileName_@photo.SitePagePhotoId" value="@photo.FileName" class="form-control" />
                                    </div>
@*
                                    <label class="col-md-2 control-label">Description:</label>
                                    <div class="col-md-10">
                                        <textarea name="PhotoDescription_@photo.SitePagePhotoId">@Html.Raw(photo.Description)</textarea>
                                    </div>
*@
                                </td>

                                <td>
                                    @if (photo.IsDefault)
                                    {
                                        <i>Current Thumbnail</i>
                                    }
                                    else
                                    {
         <a onclick="return confirm('are you sure?')"
                                       href="~/sitepages/SetDefaultPhoto/@photo.SitePagePhotoId">Set as thumbnail</a>

                                    }
                           
                                </td>
                                <td>


                                    <a onclick="return confirm('are you sure?')"
                                       class="btn-danger btn-sm"
                                       href="~/sitepages/deletephoto/@photo.SitePagePhotoId">&#x1F5D1;</a>

                                </td>
                            </tr>


                        }
                    </tbody>
                </table>
            </div>


        }
    </div>

    <hr />

    @Html.HiddenFor(x => x.SitePageId)


    <div class="form-group">
        <label class="col-md-2 control-label">Body</label>
        <div class="col-md-10">
            <textarea name="Content">@Html.Raw(Model.Content)</textarea>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-default">Update</button>
        </div>
    </div>
</form>

 


@section ScriptsHeader {

<script src="~/lib/ckeditor/ckeditor.js"></script> 
  
<script src="~/lib/ckeditor/config.js"></script>


}

 


@section ScriptsFooter {

    
<script>
    CKEDITOR.replace('Content');  
    
     
    CKEDITOR.config.allowedContent = true;




    CKEDITOR.on('instanceReady', function (ev) {
        var editor = ev.editor;
        editor.dataProcessor.htmlFilter.addRules({
            elements: {
                a: function (element) {
                    if (!element.attributes.rel) {
                        var url = element.attributes.href;
                        var redirectSubstring = '/go/';

                        if (url.indexOf(redirectSubstring) !== -1) {
                            element.attributes.rel = 'nofollow';
                            console.log(url);
                        }
                    }
                }
            }
        });
    })
</script>
 



        }


