@model WebPagePub.WebApp.Models.SitePage.SitePageSearchResultsModel
 
 
@{
    ViewData["Title"] = "Search Results: " + Model.SearchTerm;
}
 <h2>@ViewData["Title"]</h2>
 <hr />

 <form action="~/sitepages/search" method="get">
     <input name="term" />
     <button class="btn btn-success" type="submit">Search</button>
 </form>
 
@if (Model != null && Model.Items.Count() > 0)
{
<table class="table">
    <thead>
        <tr>
            <th>Title</th>
            <th>Create Date</th>
            <th></th>
            <th></th>
         
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                @if (item.IsSiteSection)
                {
                    <span>
                        &#x1f4c2;
                    </span>
                    <a title="@item.Title" href="~/sitepages/?siteSectionId=@item.SitePageSectionId">/@item.Key</a>
                }
                else
                {
                    <a href="@item.LiveUrlPath">@item.Title</a>
                }
            </td>
            <td>
                @item.CreateDate
            </td>
            <td>
                @if (item.IsSiteSection)
                {
                    <a class="btn btn-sm btn-info"
                       href="~/sitepages/EditSiteSection/@item.SitePageSectionId">Edit</a>
                }
                else
                {
                    <a class="btn btn-sm btn-info" 
                       href="~/sitepages/editsitepage/@item.SitePageId">Edit</a>
                }
            </td>
            <td>
                @if (item.IsIndex)
                {
                    @if (item.IsSiteSection)
                    {
                        <span>Home Section</span>
                    }
                    else
                    {
                        <span>Section Home Page</span>
                    }

                }
           
            </td>
        </tr>
        }
    </tbody>
</table>
}
else
{
    <br />
    <i>No pages</i>
}
@{
    int pageCount = Model.PageCount;

    for (int pageNumber = 1; pageNumber <= pageCount; pageNumber++)
    {
        if (Model.CurrentPageNumber == pageNumber)
        {
            @pageNumber
        }
        else
        {
            <a href="@Url.Content("~/sitepages/search?term=" + Model.SearchTerm + "&pageNumber=" + pageNumber.ToString())">@pageNumber.ToString()</a>
        }
    }

}