@model WebPagePub.WebApp.Models.SitePage.SitePageSearchResultsModel
@{
    ViewData["Title"] = "Search Results";
}

<h1>Search Results</h1>

@await Html.PartialAsync("_MiniSearchBox", new WebPagePub.WebApp.Models.MiniSearchBoxModel())

@if (Model.Total == 0)
{
    <p class="text-muted">No results.</p>
}
else
{
    <p><i>Showing @Model.Items.Count of @Model.Total results.</i></p>

    <table >
        <thead>
            <tr>
                
                <th>Title</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var i in Model.Items)
            {
                <tr>
                    <td>
                        <a target="_blank" href="@i.LiveUrlPath">@i.Title</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <nav aria-label="Pagination">
        <ul class="pagination">
            @for (int p = 1; p <= Model.PageCount; p++)
            {
                <li class="page-item @(p == Model.CurrentPageNumber ? "active" : "")">
                    <a class="page-link"
                       asp-controller="SitePageSearch"
                       asp-action="Index"
                       asp-route-term="@Model.SearchTerm"
                       asp-route-page="@p"
                       asp-route-pageSize="@Model.QuantityPerPage">
                        @p
                    </a>
                </li>
            }
        </ul>
    </nav>
}