@inject WebPagePub.Services.Interfaces.ICacheService _cacheHelper
@using WebPagePub.Data.Enums;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">    
    <title>@ViewData["Title"]</title>
 
    @{ await Html.RenderPartialAsync("_MetaTags"); }

    @{ await Html.RenderPartialAsync("_FavIcons"); }

    <environment names="Development">
        <link rel="stylesheet" href="~/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/css/ionicons.min.css">
        <link rel="stylesheet" href="~/css/owl.carousel.min.css">
        <link rel="stylesheet" href="~/css/style.css">
        <link rel="stylesheet" href="~/font/font.css">
        <link rel="stylesheet" href="~/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/starratting.css" />
        <link rel="stylesheet" href="~/css/stacktable.css" />
        <link rel="stylesheet" href="~/css/lineratings.css" />
    </environment>
    <environment names="Staging,Production">
        @Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.HeaderHtml))
    </environment>

    @RenderSection("StylesHeader", required: false)

    @RenderSection("ScriptsHeader", required: false)

</head>
<body>
    <div id="wrapper">
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default nav-header">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="~/">
                        <img class="logo" src="@_cacheHelper.GetSnippet(SiteConfigSetting.LogoUrl)"
                             alt="@_cacheHelper.GetSnippet(SiteConfigSetting.WebsiteName)"
                             title="@_cacheHelper.GetSnippet(SiteConfigSetting.WebsiteName)" />
                    </a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    @Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.MenuHtml))

                </div><!--/.nav-collapse -->
            </div>

        </nav>
        <div class="clear"></div>



        <!-- section-2 -->
        <div class="container">
            @RenderBody()
        </div>


 

        <footer class="site-footer">
            <a href="@_cacheHelper.GetSnippet(SiteConfigSetting.FacebookUrl)" class="btn btn-fb"><i class="fa fa-facebook left"></i> Facebook</a>
            <a href="@_cacheHelper.GetSnippet(SiteConfigSetting.YouTubeUrl)" class="btn btn-youtube"><i class="fa fa-youtube left"></i> YouTube</a>
            <a href="@_cacheHelper.GetSnippet(SiteConfigSetting.TwitterUrl)" class="btn btn-twitter"><i class="fa fa-twitter left"></i> Twitter</a>
            <div class="copyright">
                &copy; @DateTime.UtcNow.Year <a href="~/">@_cacheHelper.GetSnippet(SiteConfigSetting.WebsiteName)</a>
                | <a href="~/disclosure">Disclosure</a>
                | <a href="~/terms-of-service">Terms of Service</a>
                | <a href="~/privacy-policy">Privacy Policy</a>
                | <a href="~/contact">Contact</a>
                | <a href="~/sitemap">Sitemap</a>
            </div>
            @{ await Html.RenderPartialAsync("_LoginPartial"); }


        </footer>

    </div> 
    <!-- wrapper -->
    <!-- js -->
    @Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.GoogleAnalytics))


    <environment names="Development">
        <script src="~/js/jquery-2.1.3.min.js"></script>
        <script src="~/js/bootstrap.min.js"></script>
        <script src="~/js/stacktable.js"></script>

    </environment>
    <environment names="Staging,Production">

        @Html.Raw(_cacheHelper.GetSnippet(SiteConfigSetting.FooterHtml))
    </environment>


    @RenderSection("ScriptsFooter", required: false)
 


</body>
</html>
